<table>
  <% for (let key in data.body.params) { %>
    <tbody class="parameter-group">
      <tr>
        <th class="base-parameter" colspan="3">
          <h3><%= key %></h3>
        </th>
      </tr>
      <% data.body.params[key].forEach(function(param) { %>
        <tr>
          <td rowspan="2">
            <%= param.Group.Title %>
          </td>
          <td>Городской Номер</td>
          <td>Федеральный номер</td>
        </tr>
        <tr>
          <td><%= param.NumValue + param.Unit.Display %></td>
          <td><%= param.NumValue + param.Unit.Display %></td>
        </tr>
      <% }) %>
    </tbody>
  <% } %>
</table>