<tbody class="parameter-group" style="page-break-inside: avoid">
  <tr>
    <th colspan="2">
      <h3>7. Международные направления</h3>
    </th>
  </tr>
</tbody>
<tbody class="parameter-block" style="page-break-inside: avoid">
  <tr class="parameter">
    <td class="parameter-description">Исходящие SMS абонентам международных мобильных операторов
    </td>
    <td class="parameter-value">8,00</td>
  </tr>
</tbody>
<tbody class="parameter-group" style="page-break-inside: avoid">
  <tr>
    <th colspan="2">
      <h3>8. Первоначальный пакет услуг
        <span class="note">(услуги, включенные в тарифный план при подключении)</span>
      </h3>
    </th>
  </tr>
</tbody>
<tbody class="parameter-block" style="page-break-inside: avoid">
  <tr class="parameter">
    <td class="parameter-description" colspan="2">Ежемесячная плата Smart Безлимитище 032017; SMS информирование при добавлении/удалении услуг; Автоинформирование о балансе;
      БИТ за границей; Вам звонили!; Видеозвонок; Интернет-Помощник; Легкий роуминг и международный доступ; Мобильный Интернет;
      Мобильный офис; Мобильный Помощник; Ожидание/удержание вызова; Переадресация вызова (периодическая); Служба коротких
      сообщений; Доступ без настроек; Конференц-связь; Определитель номера; На полном доверии; GOOD'OK; GOOD`OK Smart; МТС
      Music Smart; Запрет контента; Голосовая почта базовая; Голосовая почта: ограничение переадресации в роуминге;
    </td>
  </tr>
</tbody>
<tbody class="parameter-group" style="page-break-inside: avoid">
  <tr>
    <th colspan="2">
      <h3>9. Пакет услуг при переходе на тарифный план
        <span class="note">(услуги, включенные в тарифный план при переходе)</span>
      </h3>
    </th>
  </tr>
</tbody>
<tbody class="parameter-block" style="page-break-inside: avoid">
  <tr class="parameter">
    <td class="parameter-description" colspan="2">Ежемесячная плата Smart Безлимитище 032017; Мобильный Интернет; Доступ без настроек; Видеозвонок; Вам звонили!; МТС Music
      Smart; Запрет контента; Голосовая почта базовая; Голосовая почта: ограничение переадресации в роуминге;
    </td>
  </tr>
</tbody>
<tbody class="parameter-group" style="page-break-inside: avoid">
  <tr>
    <th colspan="2">
      <h3>10. Условия подключения</h3>
    </th>
  </tr>
</tbody>
<tbody class="parameter-block" style="page-break-inside: avoid">
  <tr class="parameter">
    <td class="parameter-description" colspan="2">С информацией о стоимости стартового комплекта и размере первоначальной суммы баланса можно ознакомиться в местах распространения
      комплектов. Первоначальная сумма баланса является скидкой на услуги связи МТС, предоставляемой при подключении на тарифный
      план МТС (приобретении и активации комплекта с тарифным планом) и не подлежит выплате в денежном эквиваленте.
    </td>
  </tr>
</tbody>
<tbody class="parameter-block" style="page-break-inside: avoid">
  <tr class="parameter">
    <td class="parameter-description">Стоимость перехода на данный тариф</td>
    <td class="parameter-value">0,00</td>
  </tr>
</tbody>