<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div class="wrap">
    <header>
      <img src="https://static.ssl.mts.ru/upload/images/main_2017/70209/f/img/logo.png" alt="mts-logo" class="mts-logo">
      <img src="http://static.mts.ru/dpc_upload/images/products/msk/unlim.png" alt="tariff-logo" class="tariff-logo">
      <h1 class="tariff-name">Smart Безлимитище</h1>
      <div class="legal">
        ПАО "МТС" <br> Тел. 8-800-250-0890 <br> www.ellista.mts.ru
      </div>
    </header>
    <div class="tariff-info">
      <div class="number-type">
        <h4 class="number-type__header">Федеральный номер / Городской номер</h4>
        <div class="number-type__col">
          <div class="number-type__row">Авансовый метод расчетов</div>
          <div class="number-type__row">Тариф открыт для подключения с 24.07.2017</div>
          <div class="number-type__row">Тариф открыт для перехода с 24.07.2017</div>
        </div>
        <div class="number-type__col">
          <div class="benefits">
            <div class="benefits__line">30 ГБ интернета</div>
            <div class="benefits__line">БЕЗЛИМИТНЫЕ звонки по России</div>
            <div class="benefits__line">всего за 12 рублей в сутки</div>
          </div>
        </div>
        <div class="number-type__row number-type__row--focus number-type__row--border">Неиспользованные остатки пакетов интернета, минут, SMS переносятся на следующий месяц. Действует на территории всей
          России
        </div>
        <div class="number-type__row number-type__row--focus">«Пакет безопасности» - набор бесплатных услуг и сервисов, которые защитят телефон. Узнать подробнее - на www.mts.ru/safe
        </div>
      </div>
    </div>
    <div class="country-info">
      <div class="country-description">
        <span class="country-description__line">Тарификация поминутная с первой секунды с округлением до целых минут в большую сторону </span> <span class="country-description__line">Платы за соединение нет </span>
        <span class="country-description__line">Интервал тарификации для интернет трафика – 40 Кбайт</span>
        <span class="country-description__line">Видеозвонки оплачиваются аналогично голосовым вызовам в соответствии с направлением вызова. В большинстве стран услуги роуминга тарифицируются онлайн. В некоторых странах тарификация может происходить с опозданием, так как информация от зарубежных операторов поступает с задержкой. При отправке/получении MMS-сообщения тарифицируется факт отправки сообщения в соответствии с тарифом, действующим в "домашней" сети (факт получения не тарифицируется), и объем интернет трафика по роуминговым тарифам. При нахождении в странах США, Канае, Мексике и некоторых странах Центральной Америки в соответствии с правилами, действующими в стране пребывания абонента, тарификация производится с момента посыла вызова. Информация о роуминговых тарифах при звонках на телефоны абонентов спутниковых систем связи, на короткие номера, а также при использовании контент-услуг предоставляется в контактном центре МТС.</span>
      </div>
    </div>
    <table class="main-table">
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>1. Обязательные платежи</h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter-parent">
          <td colspan="2">
            <h4>Ежесуточная плата Smart Безлимитище</h4>
          </td>
        </tr>
        <tr class="parameter">
          <td class="parameter-description">Плата по тарифу с федеральным номером, в сутки
            <span class="ref">1</span>
          </td>
          <td class="parameter-value">12,00</td>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter-parent">
          <td colspan="2">
            <h4>Городской номер (при подключении с городским номером)</h4>
          </td>
        </tr>
        <tr class="parameter">
          <td class="parameter-description">Плата за пользование городским номером, в месяц</td>
          <td class="parameter-value">304,80</td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>2. Пакет услуг (в рамках абонентской платы)</h3>
          </th>
        </tr>
        <tr class="parameter-group-note">
          <td colspan="2">
            <span class="note">действует на территории всей России 
                  <span class="ref">2.1</span>
            </span>
          </td>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description">Интернет-трафик
            <span class="ref">2.2</span>
          </td>
          <td class="parameter-value">30 ГБ</td>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description">На мобильные телефоны МТС Республики Калмыкия и МТС России (после исчерпания пакета минут)</td>
          <td class="parameter-value">Безлимит</td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>3. Голосовой трафик</h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter-parent">
          <td colspan="2">
            <h4>Входящие вызовы</h4>
          </td>
        </tr>
        <tr class="parameter">
          <td class="parameter-description">Стоимость входящих вызовов
            <span class="note">действует на территории всей России</span>
          </td>
          <td class="parameter-value">12,00</td>
        </tr>
        <tr class="parameter-parent">
          <td colspan="2">
            <h4>
              Исходящие вызовы на номера Республики Калмыкия, включая видеозвонки (за минуту) действует на территории всей России
            </h4>
          </td>
        </tr>
        <tr class="parameter">
          <td class="parameter-description">На мобильные телефоны МТС Республики Калмыкия (свыше 500 минут в месяц)
          </td>
          <td class="parameter-value">0,00</td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>4. Международные направления</h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description">Исходящие SMS абонентам международных мобильных операторов
          </td>
          <td class="parameter-value">8,00</td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>5. Первоначальный пакет услуг
              <span class="note">(услуги, включенные в тарифный план при подключении)</span>
            </h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description" colspan="2">Ежемесячная плата Smart Безлимитище 032017; SMS информирование при добавлении/удалении услуг; Автоинформирование
            о балансе; БИТ за границей; Вам звонили!; Видеозвонок; Интернет-Помощник; Легкий роуминг и международный доступ;
            Мобильный Интернет; Мобильный офис; Мобильный Помощник; Ожидание/удержание вызова; Переадресация вызова (периодическая);
            Служба коротких сообщений; Доступ без настроек; Конференц-связь; Определитель номера; На полном доверии; GOOD'OK;
            GOOD`OK Smart; МТС Music Smart; Запрет контента; Голосовая почта базовая; Голосовая почта: ограничение переадресации
            в роуминге;
          </td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>6. Пакет услуг при переходе на тарифный план
              <span class="note">(услуги, включенные в тарифный план при переходе)</span>
            </h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description" colspan="2">Ежемесячная плата Smart Безлимитище 032017; Мобильный Интернет; Доступ без настроек; Видеозвонок; Вам звонили!;
            МТС Music Smart; Запрет контента; Голосовая почта базовая; Голосовая почта: ограничение переадресации в роуминге;
          </td>
        </tr>
      </tbody>
      <tbody class="parameter-group">
        <tr>
          <th colspan="2">
            <h3>Условия подключения</h3>
          </th>
        </tr>
      </tbody>
      <tbody class="parameter-block">
        <tr class="parameter">
          <td class="parameter-description" colspan="2">С информацией о стоимости стартового комплекта и размере первоначальной суммы баланса можно ознакомиться в местах
            распространения комплектов. Первоначальная сумма баланса является скидкой на услуги связи МТС, предоставляемой
            при подключении на тарифный план МТС (приобретении и активации комплекта с тарифным планом) и не подлежит выплате
            в денежном эквиваленте.
          </td>
        </tr>
        <tr class="parameter">
          <td class="parameter-description">Стоимость перехода на данный тариф</td>
          <td class="parameter-value">0,00</td>
        </tr>
      </tbody>
    </table>
    <div class="footnotes">
      <div class="footnote">
        1.1. С 07.04.2017 г. при подключении на тариф списание платы в течение первого месяца производится посуточно. При этом, списание
        платы за первые сутки производится в момент подключения и отражается в счете как добавление опции «Ежемесячная плата
        Smart Безлимитище 032017»; списание платы за вторые и последующие сутки отображается в счете как периодическая плата
        за опцию «Ежесуточная плата Smart Безлимитище в первый месяц при подключении». При переходе на тариф списание платы
        за первый месяц осуществляется в момент перехода на тариф в полном объеме (отражается в счете как добавление опции
        «Ежемесячная плата Smart Безлимитище 032017»). Последующее списание ежемесячной платы осуществляется каждый месяц,
        начиная со второго, в полном объеме, в день соответствующий дате подключения / перехода на тариф, независимо от количества
        средств на счете. В случае если на момент списания номер заблокирован, плата будет списана в момент выхода из блокировки.
        В случае, когда в следующем календарном месяце отсутствует дата аналогичная дате подключения - плата списывается
        в последний день календарного месяца. За полный месяц, в котором абонент фактически находился в блокировке - плата
        не взимается, пакет услуг не предоставляется. В случае, если на момент списания номер заблокирован, плата будет списана
        в момент выхода из блокировки.
      </div>
      <div class="footnote">
        1.2 При подключении/смене номера на городской номер на приложение обслуживания автоматически добавляется одна из услуг -
        "Безлимитная переадресация с прямого номера" / "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" (вид услуги
        зависит от подключаемого номера и используемой номерной емкости). Данные услуги нельзя отключить, они удаляются автоматически
        при смене номера на федеральный. Плата за любую из этих услуг составляет 304,80 руб. в месяц. Списание платы за услуги
        "Безлимитная переадресация с прямого номера" / "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" в размере
        304,80 руб./мес. осуществляется посуточно равными долями в течение календарного месяца. При подключении услуги "Безлимитная
        переадресация с прямого номера" происходит автоматическое подключение бесплатной услуги "Городской номер". «Городской
        номер» - выделение дополнительного московского номера в коде «495» с переадресацией на номер в коде «985» с семизначным
        совпадением номеров. При подключении одной их услуг "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" происходит
        автоматическое подключение бесплатной услуги "Контракт с ОФС". «Городской номер СЦС Совинтел» или «Городской номер
        ОФС ТСС» - услуга оператора фиксированной связи ООО «Вымпелком»/ ООО «ТехСтандарт-С», оказываемая по трехстороннему
        договору между Абонентом, ПАО «МТС» и ООО «Вымпелком»/ ООО «ТехСтандарт-С» соответственно, заключающаяся в назначении
        дополнительного абонентского номера в сети местной телефонной связи г.Москвы в коде АВС=495 без организации абонентской
        линии с обеспечением переадресации входящих на этот номер вызовов на Абонентский номер Абонента в коде DEF сети ПАО
        «МТС».

      </div>
    </div>
  </div>
</body>

</html>