- var data = self.data;

doctype html
head(lang="en")
  title PUG
  style(type="text/css").
     @font-face {
      font-family: 'Corpid';
      font-weight: 700;
      font-style: normal;
      src: url('https://static.ssl.mts.ru/upload/images/main_2017/68076/f/css/fonts/corpid/CorpidE1SCd_Regular.woff2') format('woff2'),
          url('https://static.ssl.mts.ru/upload/images/main_2017/68076/f/css/fonts/corpid/CorpidE1SCd_Regular.woff') format('woff'),
          url('https://static.ssl.mts.ru/upload/images/main_2017/68076/f/css/fonts/corpid/CorpidE1SCd_Regular.ttf') format('truetype');
    }
body
  include parts/header.pug
  include parts/mainTable.pug