<div class="footnotes">
  <div class="footnote" style="page-break-inside: avoid">
    1.1. С 07.04.2017 г. при подключении на тариф списание платы в течение первого месяца производится посуточно. При этом, списание
    платы за первые сутки производится в момент подключения и отражается в счете как добавление опции «Ежемесячная плата
    Smart Безлимитище 032017»; списание платы за вторые и последующие сутки отображается в счете как периодическая плата
    за опцию «Ежесуточная плата Smart Безлимитище в первый месяц при подключении». При переходе на тариф списание платы за
    первый месяц осуществляется в момент перехода на тариф в полном объеме (отражается в счете как добавление опции «Ежемесячная
    плата Smart Безлимитище 032017»). Последующее списание ежемесячной платы осуществляется каждый месяц, начиная со второго,
    в полном объеме, в день соответствующий дате подключения / перехода на тариф, независимо от количества средств на счете.
    В случае если на момент списания номер заблокирован, плата будет списана в момент выхода из блокировки. В случае, когда
    в следующем календарном месяце отсутствует дата аналогичная дате подключения - плата списывается в последний день календарного
    месяца. За полный месяц, в котором абонент фактически находился в блокировке - плата не взимается, пакет услуг не предоставляется.
    В случае, если на момент списания номер заблокирован, плата будет списана в момент выхода из блокировки.
  </div>
  <div class="footnote" style="page-break-inside: avoid">
    1.2 При подключении/смене номера на городской номер на приложение обслуживания автоматически добавляется одна из услуг -
    "Безлимитная переадресация с прямого номера" / "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" (вид услуги
    зависит от подключаемого номера и используемой номерной емкости). Данные услуги нельзя отключить, они удаляются автоматически
    при смене номера на федеральный. Плата за любую из этих услуг составляет 304,80 руб. в месяц. Списание платы за услуги
    "Безлимитная переадресация с прямого номера" / "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" в размере 304,80
    руб./мес. осуществляется посуточно равными долями в течение календарного месяца. При подключении услуги "Безлимитная
    переадресация с прямого номера" происходит автоматическое подключение бесплатной услуги "Городской номер". «Городской
    номер» - выделение дополнительного московского номера в коде «495» с переадресацией на номер в коде «985» с семизначным
    совпадением номеров. При подключении одной их услуг "Городской номер ОФС ТСС" / "Городской номер СЦС Совинтел" происходит
    автоматическое подключение бесплатной услуги "Контракт с ОФС". «Городской номер СЦС Совинтел» или «Городской номер ОФС
    ТСС» - услуга оператора фиксированной связи ООО «Вымпелком»/ ООО «ТехСтандарт-С», оказываемая по трехстороннему договору
    между Абонентом, ПАО «МТС» и ООО «Вымпелком»/ ООО «ТехСтандарт-С» соответственно, заключающаяся в назначении дополнительного
    абонентского номера в сети местной телефонной связи г.Москвы в коде АВС=495 без организации абонентской линии с обеспечением
    переадресации входящих на этот номер вызовов на Абонентский номер Абонента в коде DEF сети ПАО «МТС».
  </div>
</div>