<div class="country-info">
  <div class="country-description">
    {{#each data.body.countryDescription as |description|}}
      <span class="country-description__line">
        {{description}}
      </span>
    {{/each}}
  </div>
</div>