<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejs</title>
  <style type="text/css">
    <%- style %>
  </style>
</head>
<body>
  <%- include('parts/header') %>
  <%- include('parts/tableGeneric') %>
</body>
</html>