<header>
  <img src="https://static.ssl.mts.ru/upload/images/main_2017/70209/f/img/logo.png" alt="mts-logo" class="mts-logo">
  <img src="http://static.mts.ru/dpc_upload/images/products/msk/unlim.png" alt="tariff-logo" class="tariff-logo">
  <h1 class="tariff-name"><%= data.header.tariffName %></h1>
  <div class="legal">
    ПАО "МТС" <br> Тел. 8-800-250-0890 <br> www.ellista.mts.ru
  </div>
</header>